<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login :: Banco Estatal</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="estilosLogin.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="shortcut icon" href="/banco-del-estado-frontend/static/images/favicon.png">
</head>

<body>
    <div class="contenedor">
        <div class="imagenBanco">
            <span class="material-icons pe-2">account_balance</span>
            <span>Banco del Estado</span>
        </div>
        <div>
            <form action="/banco-del-estado-frontend/templates/sales/list.html" method="get">
                <input class="form-control" type="text" placeholder="Usuario">
                <input type="text" class="form-control" placeholder="Contraseña">
                <div class="divBotonLogin">
                    <input class="btn boton" type="submit" value="Ingresar">
                </div>
                <div class="divBotonLogin">
                    <input class="btn boton" type="button" value="Ingresar por Gmail">
                </div>
            </form>
        </div>
    </div>
</body>

</html>