.body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    background-image: url(cover.jpg);
    background-repeat: no-repeat; 
    background-size: cover; 
    position: relative;
}


.divBotonLogin{
    display: flex;
    justify-content: center;
    align-items: center;
}

.imagenBanco{
    background-color:   #d1c48b;
    display: flex; 
    padding: .75rem;
    justify-content: center;
    align-items: center;
}

.boton{  
   background-color: #d1c48b;
   text-decoration: none;
   /* width: 75vw; */
}

